<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Home</title>
</head>

<body>
    <%- include('partials/navbar') %>

        <%- include('partials/categories') %>

            <%- include('partials/filter-btn') %>

                <div class="container-fluid mt-5">
                    <div class="row">

                        <%- include('partials/filter-section') %>

                            <div class="col-md-9 product-cards">

                                <div class="container">
                                    <h2 class="fs-3 fw-normal text-center text-secondary mb-4">Welcome to Our Website
                                    </h2>

                                    <div class="row gy-4">
                                        <% for (let i=1; i <=20; i++) { %>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div id="carousel<%= i %>" class="carousel slide">
                                                        <div class="carousel-inner">
                                                            <div class="carousel-item active"
                                                                style="background-image: url('https://via.placeholder.com/150');">
                                                            </div>
                                                            <div class="carousel-item"
                                                                style="background-image: url('https://via.placeholder.com/150/ff0000');">
                                                            </div>
                                                            <div class="carousel-item"
                                                                style="background-image: url('https://via.placeholder.com/150/00ff00');">
                                                            </div>
                                                        </div>
                                                        <button class="carousel-control-prev" type="button"
                                                            data-bs-target="#carousel<%= i %>" data-bs-slide="prev">
                                                            <span class="carousel-control-prev-icon"
                                                                aria-hidden="true"></span>
                                                            <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next" type="button"
                                                            data-bs-target="#carousel<%= i %>" data-bs-slide="next">
                                                            <span class="carousel-control-next-icon"
                                                                aria-hidden="true"></span>
                                                            <span class="visually-hidden">Next</span>
                                                        </button>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card Başlığı <%= i %>
                                                        </h5>
                                                        <p class="card-text text-secondary">Bu, card'ın açıklama
                                                            metnidir.
                                                            Kısa
                                                            bir açıklama
                                                            buraya gelebilir. Uzun açıklamalar card'ın maksimum
                                                            yüksekliği
                                                            nedeniyle taşar ve card
                                                            body'sinin dışına çıkmaz.</p>
                                                        <div class="btn-container">
                                                            <a href="#" class="btn btn-primary">Daha fazla oku</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <%- include('partials/footer') %>

                    <%- include('partials/scripts') %>
</body>

</html>